= render "layouts/splash"
-# .code
-#   = render "layouts/main"
-#   = render "layouts/curriculum"
-#   = render "layouts/profile"
-#   = render "layouts/testimonials"
-#   = render "layouts/faq"
-#   = render "layouts/apply"
-# = render "layouts/app_success"
-# = render "layouts/app_error"
-# = render "layouts/confirm_payment"
-# = render "layouts/card_error"
-# = render "layouts/thank_you"
= render "layouts/join"
= render "layouts/welcome"
