.row
  .large-12.large-centered.columns.baby-top-margined.centered
    = image_tag "cohort1smiling.png"
.row
  .large-5.columns.baby-top-margined
    %ul.pricing-table.baby-top-margined
      %li.title
        %h2
          The Ruby White Belt
      %li.bullet-item 10 Sequenced Social Pair Programmed lessons (20 hrs).
      %li.bullet-item Access to Custom content, screencasts and cutting edge pair-programming tools.
      %li.bullet-item On-going coaching and motivation on your journey to code and build software.
      %li.title
        %h2
          $1500
  .large-7.columns.baby-top-margined
    = render 'layouts/register/pay_form'
