!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    - if @student
      %h3
        Greetings #{@student.first_name.capitalize},
    %p 
      Welcome to RubyonRailsTutor.com
    %p
      We will jump into code the night of October 21, 7pm Pacific Time.  It is imperative that you have a fully configured development environment setup that has Ruby 1.9.3, Rails 3.2.14, postgres, sublime and git.  If you don't know what those are don't worry, that is what I'm here for.
    %p
      Please reach out to me at soonest so we can skype and make sure you system is setup properly.
    %p
      I look forward to helping you progress on this amazing journey.
    %h3
      \- John Davison | = link_to "@railstutor", "http://www.twitter.com/railstutor"
