!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    - if @student
      %h3
        Greetings #{@student.first_name.capitalize},
    %p 
      Welcome to RubyonRailsTutor.com.
    %p 
      Please utilize the resources at http://rubyonrailstutor.github.io for solid self learning.  
    %p
      Since Summer of 2014, I've been focusing more on http://codeunion.io If you are interested in a live online coding workshop, please check in on me at http://codeunion.io and or join our meetup group, http://www.meetup.com/CodeUnion/
    %p
      I look forward to helping you progress on this amazing journey.
    %h3
      \- John Davison  
    #{link_to "@startuplandia", "http://www.twitter.com/startuplandia"}
    = mail_to "john@rubyonrailstutor.com"
