!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    - if @student
      %p
        = @student.first_name.capitalize
      %p
        = @student.last_name.capitalize
        = @student.email

