!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    - if @student
      %h3
        Greetings #{@student.first_name.capitalize},
    %p 
      Welcome to RubyonRailsTutor.com
    %p
      Thanks so much for applying.  I review these as soon as I receive them and I will get back to you withing 48-72 hours.  
    %p 
      Please reach out to me directly if you need anything or have questions.
    %h3
      Thanks,
    %h3
      \- John Davison  
    #{link_to "@railstutor", "http://www.twitter.com/railstutor"}
    = mail_to "john@rubyonrailstutor.com"

