// VARIABLES

$lightblue: #268BD2;
$grey: #0d0e13;
$darkgrey: #2B2C26;
$darkgreyfade: rgba(43,44,38, .75);
$sublimegreen: #8BC12C;
$sublimepurple: #8569CA;
$sublimepurplefade: rgba(133,105,202, .4);
$grid-float-breakpoint: 600px;
