<div class="row">
  <div class=" large-12 large-centered columns">
    <h1>
      RubyonRailstutor.com - Client Server Round Trip
    </h1>
  </div>
</div>
<div class="row">
  <div class=" large-12 large-centered columns panel">
    <h2>
      Strategic Learning Goals
    </h2>

    <div class="row">
      <div class=" large-11 large-centered columns">
        <ol>
          <li>Understand how information travels between the browser and server.</li>
          <li>Begin to conceptualize the triggers that occure as the server receives a request and access a controller and how this process is basically 'ruby malleable'.</li>
        </ol>
        <iframe src="//player.vimeo.com/video/79428511" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

