<% content_for :head do %>
  <title>Client-Server RoundTrip</title>
<% end %>

<%=  render "layouts/breadcrumbs" %>
<div class="row" id="main">
  <div class=" large-12 large-centered columns panel">
    <h1 class="centered">
      Client Server Round Trip
    </h1>
    <h2>
      Strategic Learning Goals
    </h2>

    <div class="row">
      <div class=" large-11 large-centered columns">
        <ol>
          <li>Understand how information travels between the browser and server.</li>
          <li>Begin to conceptualize the triggers that occur as the server receives a request and accesses a controller and how this process is basically 'ruby malleable'.</li>
        </ol>
        <iframe src="//player.vimeo.com/video/79428511" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

