<div class="row">
  <div class=" large-11 large-centered columns">
    <h1>
      Curriculum & Content
    </h1>
    <div class="panel">
      <h2 class="subheader">
        <%= link_to "Ruby Basics", "/curriculum/rubybasics" %>
      </h2>
      <h2 class="subheader">
        <%= link_to "Ruby Objects", "/curriculum/rubyobjects" %>
      </h2>
      <h2 class="subheader">
        <%= link_to "Rails MVC Overview", "/curriculum/mvcroundtrip" %>
      </h2>
      <h2 class="subheader">
        <%= link_to "Rails Data Models", "/curriculum/models" %>
      </h2>
    </div>

    <blockquote>
      "I have successfully taught many people the fundamental of Ruby on Rails, trust that I will effectively and quickly get you building Rails applications of your own design." - John Davison, @railstutor
    </blockquote>
  </div>
</div>
