<div class="row">
  <div class=" large-12 large-centered columns">
    <h1>
      RubyonRailstutor.com - 
    </h1>
  </div>
</div>
<div class="row">
  <div class=" large-12 large-centered columns panel">
    <h2>
      Strategic Learning Goals
    </h2>

    <div class="row">
      <div class=" large-11 large-centered columns">
        <ol>
          <li>  Understand what it means to instantiate an object that inherits from an active record object.</li>
        </ol>
      </div>
    </div>

    <h2>
      Reference Material
    </h2>
    <div class="row">
      <div class=" large-11 large-centered columns">
        <ul>
          <li><%= link_to "Active Record Associations", "http://guides.rubyonrails.org/association_basics.html" %> </li>
        </ul>
      </div>
    </div>

    
    <div class="row">
      <div class=" large-11 large-centered columns content">
        <ol>
          <li>CREATE a data model.</li>
          <pre><code>
          </code></pre>
          <blockquote>
          </blockquote>
          <%= image_tag "https://dl.dropboxusercontent.com/u/12834645/railstutor/lessons/" %>
        </ol>
      </div>
    </div>
  </div>
</div>
