<div class="row">
  <div class=" large-12 large-centered columns">
    <h1>
      RubyonRailstutor.com - RAILS VIEWS
    </h1>
  </div>
</div>
<div class="row">
  <div class=" large-12 large-centered columns panel">
    <h2>
      Strategic Learning Goals
    </h2>

    <div class="row">
      <div class=" large-11 large-centered columns">
        <ol>
          <li>Understand Rails' default behavior for view rendering.</li>
          <li>Understand the ideas behind templating, embedding ruby and preprocessing.</li>
          <li>Understand how to use partials, including passing objects to partials.</li>
          <li>Understand the role of a 'helper'.</li>
        </ol>
      </div>
    </div>

    <h2>
      Reference Material
    </h2>
    <div class="row">
      <div class=" large-11 large-centered columns">
        <ul>
          <li><%= link_to "RAILS VIEWS", "http://guides.rubyonrails.org/layouts_and_rendering.html" %> </li>
        </ul>
      </div>
    </div>

    

    <h2>
      Tactical Learning Goals
    </h2>
    <blockquote>
      'It's called the tactical turtle-neck, I invented it!' - @codenameduchess
    </blockquote>
    
    <div class="row">
      <div class=" large-11 large-centered columns content">
        <ul>
          <li>embedded ruby aka file.html.erb</li>
          <pre><code>
          <%%= interpreted as ruby and printed %>
          <%% interpreted as ruby but not printed %>
          <%% end %>
          </code></pre>
          <li>embedded ruby aka file.html.haml</li>
          <pre><code>
            = interpreted as ruby and printed
            - interpreted as ruby but not printed
            </code></pre>
          <li>Understand how a view file gets rendered after a controller actions get triggered.</li>
          <blockquote>
            consider a "GET" being made to the application root "/"
          </blockquote>
          <%= image_tag "content/rakeroutes.png" %>
          <blockquote>
            'messages#index' will trigger the Messages contoller and index action, once all the code in the index action has run, rails will auto-magically look for a corresponding view file located in 'app/views/messages/' and render a file who's name corresponds to the action just called, eg, index, so in this case rails will automatically render 'app/views/messages/index.html.erb'
          </blockquote>
          <blockquote>
            <a href="https://github.com/jcdavison/railstutor_messages/blob/master/app/views/layouts/application.html.erb">https://github.com/jcdavison/railstutor_messages/blob/master/app/views/layouts/application.html.erb</a>

            <a href="https://github.com/jcdavison/railstutor_messages/blob/master/app/views/messages/index.html.erb">https://github.com/jcdavison/railstutor_messages/blob/master/app/views/messages/index.html.erb</a>
          </blockquote>
          <li>helpers, helpers, helpers</li>
          <blockquote>
            use helpers in view templates to perform formatting related logic.
          </blockquote>
          <pre><code>
            module MessagesHelper
              def remove_blasphemy message
                return if message.nil?
                ["monty", "python", "grail", "flying cow", "neep"].each do |word|
                  message.gsub!(word, "")
                end
                message
              end
            end
          </code></pre>
        </ul>
      </div>
    </div>

  </div>
</div>

