.reveal-modal.medium#cardError
  .row
    .small-7.columns.small-centered.padded
      %h4
        Sorry, There was a problem with your card
  .row
    .small-7.columns.small-centered.padded
      .quote#errors
  .row
    .small-7.columns.small-centered.padded
      %h5
        Please Try Again 
      %h5
        or email #{ mail_to "john@rubyonrailstutor.com"}
      %label.padded
        Secure Credit Card Processing Powered by Stripe and SSL.
  %a{class: "close-reveal-modal"}
    &#215;
