.reveal-modal#cardError
  .row
    .small-10.columns.small-centered
      There was a problem with your card
  .row
    .small-10.columns.small-centered#errors
  .row
    .small-10.columns.small-centered
      Please Try Again or email #{ mail_to "john@rubyonrailstutor.com"}
      %label
        Secure Credit Card Processing Powered by Stripe and SSL.
  %a{class: "close-reveal-modal"}
    &#215;

