.reveal-modal#confirmPmt
  .row
    .small-10.columns.small-centered
      Credit Card ending in 
      %span#last4
        *
      is about to be charged $750
      .button#submitPmt
        Confirm & Pay
      %label
        Secure Credit Card Processing Powered by Stripe and SSL.
  %a{class: "close-reveal-modal"}
    &#215;
