.reveal-modal.medium#confirmPmt
  .row
    .small-7.columns.small-centered
      %h5
        Credit Card ending in 
        %span#last4
          *
        is about to be charged $#{display_price(Rails.configuration.pricepoint)}.
      .row
        .large-3.columns.padded
          %label
            first name
        .large-9#confirmFirstName.columns.padded
      .row
        .large-3.columns.padded
          %label
            last name
        .large-9#confirmLastName.columns.padded
      .row
        .large-3.columns.padded
          %label
            email
        .large-9#confirmEmail.columns.padded
      .row
        .large-4.large-centered.columns
          .button#submitPmt.padded
            Confirm & Pay
      %label
        Secure Credit Card Processing Powered by Stripe and SSL.
  %a{class: "close-reveal-modal"}
    &#215;
