.row#curriculum
  .small-10.large-10.columns.large-centered.small-centered.top-margined
    %p.main.scripty.red
      RubyonRailsTutor Utilizes Live, One-on-One Learning.
    %p.small-info
      10 proven learning modules will get you up to speed on the essential components to web based M-V-C software development. 
.row
  .small-10.large-7.columns.padded
    %ol{type: "numbered"}
      %li.session Programming & Ruby building blocks; String, Hash, Array.
      %li.session Building Ruby Objects out of the building blocks.
      %li.session Ruby Gems, the internet and a basic command line Twitter App.
      %li.session Web Applications from 10,000ft including the "Client/Server Round Trip".
      %li.session RubyonRails & M-V-C Overview.
      %li.session RubyonRails: From the Browser to the Router to the Controller.
      %li.session RubyonRails: A Controller calls a Model.
      %li.session RubyonRails: After a Model, the Controller renders a View.
      %li.session RubyonRails: Combining the M-V-C objects into an application.
      %li.session Git + Heroku = Rapid Product Deployment.
  .large-5.columns.padded
    %iframe{ src:"http://player.vimeo.com/video/75048867", height: "255", width: "450", frameborder: "0", style: "margin-top:2em;" }
-# <iframe width="640" height="360" src="http://www.youtube.com/embed/RVVnxTGeRs8?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
<iframe src="//player.vimeo.com/video/75048867" width="500" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/75048867">rubyonrailstutor intro</a> from <a href="http://vimeo.com/user11463633">John Davison</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
