.row
  .small-10.large-12.columns.large-centered.small-centered.baby-top-margined
    .major
      Curriculum
    .manifest
      "It's not videos, or a book. You'll learn by doing, taught live in a small group online with your own personal Ruby on Rails tutor."
    .quote.baby-top-margined.padded
      10 sequenced lessons that teach the building blocks of Ruby on Rails.
    .quote.padded
      Lessons taught as a cohort of 3-5 people.
    .quote.padded
      All content & learning delivered on the internet using tools like Floobits and Google Hangouts.  
    .quote.padded
      Lessons taught by John Davison, an expert at teaching Ruby on Rails to beginners.
    .quote.padded
      Lessons take occure twice a week for two hours each occurrence.  The day and timing of the class determined by the best fit for the group.  Classes form constantly so entrance occurs constantly.  
.row
  .small-10.large-12.columns.small-centered.padded.top-margined
    .major
      Lesson Sequence
.row
  .small-10.large-9.columns.small-centered.padded.curriculum
    .row
      .large-2.columns.padded
        1
      .large-10.columns.padded
        Ruby Primitives & CRUD [Create, Read, Update, Destroy] - String, Array, Hash.
    .row
      .large-2.columns.padded
        2
      .large-10.columns.padded
        Ruby Classes and Objects
    .row
      .large-2.columns.padded
        3
      .large-10.columns.padded
        Model View Controller (MVC) Overview
    .row
      .large-2.columns.padded
        4
      .large-10.columns.padded
        In-depth look at Rails Models
    .row
      .large-2.columns.padded
        5
      .large-10.columns.padded
        In-depth look at Rails Controllers
    .row
      .large-2.columns.padded
        6
      .large-10.columns.padded
        In-depth look at Rails Views
    .row
      .large-2.columns.padded
        7
      .large-10.columns.padded
        Build MVC/RESTful Messages I
    .row
      .large-2.columns.padded
        8
      .large-10.columns.padded
        Build MVC/RESTful Messages II
    .row
      .large-2.columns.padded
        9
      .large-10.columns.padded
        Add Twitter Integration to RESTful Messages
    .row
      .large-2.columns.padded
        10
      .large-10.columns.padded
        Add Twitter based Sign in to RESTful Messages
    .row
      .large-10.columns.padded
        \- lessons are recorded and available for future viewing
