.row
  .small-10.large-12.columns.large-centered.small-centered.top-margined
    .major
      Curriculum
    .manifest
      "It's not videos, or a book. You'll learn by doing, taught live in a small group online with your own personal Rails tutor."
    .quote.baby-top-margined.padded
      10 sequenced lessons that teach the building blocks of Ruby on Rails.
    .quote.padded
      Lessons taught as a cohort of 5 people.
    .quote.padded
      All content & learning delivered on the internet using tools like Floobits and Google Hangouts.  
    .quote.padded
      Lessons taught by John Davison, an expert at teaching Ruby on Rails to beginners.
    .quote.padded
      Lessons take place every Monday and Wednesday night from 7-9pm PST and run for 5 weeks.  
    .quote.padded
      The next cohort starts on Monday October 21.      
.row
  .small-10.large-12.columns.small-centered.padded.top-margined
    .major
      Lesson Schedule
.row
  .small-10.large-9.columns.small-centered.padded.curriculum
    .row
      .large-2.columns.padded
        Oct 21
      .large-10.columns.padded
        Ruby Primitives & CRUD [Create, Read, Update, Destroy] - String, Array, Hash.
    .row
      .large-2.columns.padded
        Oct 23
      .large-10.columns.padded
        Ruby Classes and Objects
    .row
      .large-2.columns.padded
        Oct 28
      .large-10.columns.padded
        Model View Controller (MVC) Overview
    .row
      .large-2.columns.padded
        Oct 30
      .large-10.columns.padded
        In-depth look at Rails Models
    .row
      .large-2.columns.padded
        Nov 4
      .large-10.columns.padded
        In-depth look at Rails Controllers
    .row
      .large-2.columns.padded
        Nov 6
      .large-10.columns.padded
        In-depth look at Rails Views
    .row
      .large-2.columns.padded
        Nov 11
      .large-10.columns.padded
        Build MVC/RESTful Messages I
    .row
      .large-2.columns.padded
        Nov 13
      .large-10.columns.padded
        Build MVC/RESTful Messages II
    .row
      .large-2.columns.padded
        Nov 18
      .large-10.columns.padded
        Add Twitter Integration to RESTful Messages
    .row
      .large-2.columns.padded
        Nov 20
      .large-10.columns.padded
        Add Twitter based Sign in to RESTful Messages
