.row
  .small-10.large-12.columns.large-centered.small-centered.top-margined
    .major
      Frequently Asked Questions
    .manifest
      Do we actually build an app?
    .quote.baby-top-margined.padded
      Yes, we build an app, but a very simple one and the point of the app is for me to teach you very granular specifics about how ruby, rails, mvc and the internet work, not for you to try and build your first prototype product.  Once you move onto your own prototypes, I'll keep helping you with gist's and stuff and show you how to interact with the dev community to learn, just like I did.
    .manifest
      Are their assignments outside of class?
    .quote.baby-top-margined.padded
      'Kind of', there are assignments outside of class, like I will you give you things I want you to do drills on while we are not in class and some readings.  It isn't homework per say, but it is stuff you need to do to drive this stuff into deep muscle memory.  I'm ex-military so I'm big into the idea of drilling and repetitive practice to learn things till they feel like breathing. 
    .manifest
      How much time expected outside of class?
    .quote.baby-top-margined.padded
      Really that one is up to you.  I taught a ux designer this summer who spent a good amount of time outside of class but probably not more than 10 hrs/week and he learned a ton.
    .manifest
      Do you also cover commit to github and deploy to a server processes (heroku ok)?
    .quote.baby-top-margined.padded
      Def cover git, heroku, in fact, I'll actually teach you how to use heroku properly so that you don't build a large app, then deploy only to realize the depth of your coding problems in production is huge and heroku is now a major headache.  Git is pretty easy when trained right from the get go.
    .manifest
      How do you adjust for different levels in the class?
    .quote.baby-top-margined.padded
      I intend on teaching fundamentals to people who don't know fundamentals.  Basically, anyone I let in the class is a good fit level-wise, as long as you can learn and ask questions and stayed engaged, I will handle the rest to ensure that everone has a positive learning experience. 
    .manifest
      What happens if we have to miss a class, do you record?
    .quote.baby-top-margined.padded
      I will be recording classes and publishing to a private workspace.
    .manifest
      Any chance you could hold the class during the day, if other people agree?
    .quote.baby-top-margined.padded
      I am open to all kinds of plans, this is what I do, make a suggestion and let's run with it!
.row
  .large-9.columns.baby-top-margined
    = mail_to "john@rubyonrailstutor.com", "john@rubyonrailstutor.com", class: "railstutor"
  .large-3.columns.baby-top-margined
    = link_to "Register!", "#register", class: "button radius medium", id: "registerbuttonbottom"
