.row
  .large-10.columns.large-centered
    .footer.centered
      = link_to "home", root_path
      \| 
      = link_to "curriculum", "http://rubyonrailstutor.github.io", target: "new"
    .footer.centered
      site design, layout, content and code created by #{link_to "John Davison","https://plus.google.com/u/0/+JohnDavison-railstutor/?rel=author" , target: "new", rel: "author"} | #{ link_to "johncdavison.com", "http://www.johncdavison.com", target: "new"}
