.reveal-modal.medium#join
  .row
    .small-11.columns.small-centered
      .row
        .large-4.columns.outline
          = image_tag "profile.jpg"
          = image_tag "profile3.png"
          = image_tag "profile2.png"
        .large-8.columns.outline
          %h1
            Join the community.
          %dl
            %dt Receive invites to pair-programming sessions.
            %dt Get access to tutorials & screencasts.
          -# %form
          %fieldset
            %legend
              contact info
            .row
              .large-12.columns
                %input{type: "text", placeholder: "first name", id: "firstName", class: "validates-presence"}
            .row
              .large-12.columns
                %input{type: "text", placeholder: "last name", id: "lastName", class: "validates-presence"}
            .row
              .large-12.columns
                %input{type: "text", placeholder: "email", id: "email", class: "validates-presence"}
            .row
              .large-5.large-centered.columns.centered
                %button{id: "submit", class: "medium radius success"}
                  Start Now!
  %a{class: "close-reveal-modal"}
    &#215;
