.code
  .row.top-margined
    .large-12.columns.large-centered
      .major.fade
        Learn RubyonRails in 15 hours.
  .row
    .large-5.columns
      %iframe{ src:"https://player.vimeo.com/video/75111324", height: "200", width: "350", frameborder: "0", style: "margin-top:1.5em;", id: "vimeo"}
    .large-7.columns
      .fade
        .quote.baby-top-margined
          Want to:
        .quote 
          Create a Startup?
        .quote 
          Get into a code camp? 
        .quote 
          Build cool web-software?
        .quote 
          Positively change the world?
        .quote 
          Meet awesome people and have fun?
  .row.top-margined
    .large-10.columns
      .journey.centered.fade
        Let's start the journey together, today.
    .large-2.columns.fade
      = link_to "Register!","https://gum.co/demo?wanted=true", class: "gumroad-button radius button large"
  .row
    .large-8.columns.large-centered.top-margined
      = link_to "@railstutor", "http://www.twitter.com/railstutor", target: "new", class: "railstutor"
      .railstutor.inline
        testimonials...
