.row
  .small-10.large-12.columns.large-centered.small-centered.baby-top-margined
    .major
      Mission
    .manifest
      "I have focused the last 3 years of my life transitioning into early stage technology and software development.  Let me help you make the same transition in a fraction of the time." 
.row
  .small-10.large-8.large-offset-4.columns
    .manifest
      \ - John Davison, prior LT, SC, USNR
.row
  .small-10.large-12.columns.large-centered.small-centered.baby-top-margined
    .quote.baby-top-margined
      You have been on deployement and outside of the wire for as long as you can remember.  Now that you prepare to transition to the civilian sector, you face a very uncertain and un-equal economic playing field.  Large companies don't seem like the answer, going to school and taking on debt doesn't seem like the answer either.  A lot of media attention focuses on Silicon Valley and the world of technology startups.  The bulk of the hiring focuses on technical software engineers.  If you don't code, the chances of getting into early stage startups drop to almost nil.
    .quote.baby-top-margined
      As someone who has made the transition from non-technical professional to pro-quality software engineer, I know what it takes to make the jump.  You don't need a degree in computer programming, you don't need to read lengthy tomes of techincal speak.  You need to learn the fundamentals of one programming language well enough to be able to build high fidelity proto-types.  From these proto-types, you can either try to build your own startup or convice someone else to hire you as an apprentice.  Startups look for people who can figure anything out and have the ability to deliver value, learning a web programming language like Ruby on Rails will help you do this.  I have taught numerous people in the Bay Area how to code in ruby on rails guarantee that I will provide and extremely efficient, effective learning experience.
    .quote.baby-top-margined
      I use a small group format in order to facilitate cohesion, team work and group learning.  We meet twice a week, for 2 hours a session scheduled at the convenience of the cohort.  All the learning takes place on the internet using all kinds of intersting real time communication and code sharing tools.  I guarantee that I will help you develop the skills required to move into the technology sector as a web software engineer. - @railstutor
