.row
  .small-10.large-9.columns.baby-top-margined
    .major
      John Davison, @railstutor
  .large-3.columns.baby-top-margined
    = link_to "Register!", "#register", class: "button radius medium", id: "registerbuttonprofile"
.row
  .large-4.columns.baby-top-margined
    = image_tag "profile.jpg", class: "tutorpic baby-top-margined padded"
  .large-8.columns.baby-top-margined
    .quote.baby-top-margined.padded
      Expert at teaching Ruby on Rails to beginners. 
    .quote.padded
      Graduate of Dev Bootcamp, 2nd Cohort Summer of 2012.
    .quote.padded
      Numerous successful tutoring relationships.
    .quote.padded
      Prior to Dev Bootcamp, no programming background.
    .quote.padded
      Over last 18 months, consulted to 5 startups and built numerous side projects.
    .quote.padded
      Prior U.S. Navy Supply Corps Officer, MBA, looking to help other Veterans make the transition to the tech economy.
