.row
  .small-10.large-12.columns.large-centered.small-centered.baby-top-margined
    .major
      John Davison, @railstutor
.row
  .large-4.columns.baby-top-margined
    = image_tag "profile.jpg", class: "tutorpic baby-top-margined padded"
  .large-8.columns.baby-top-margined
    .quote.baby-top-margined.padded
      Accomplished at teaching Ruby on Rails to beginners. 
    .quote.padded
      Graduate of Dev Boocamp, 2nd Cohort Summer of 2012.
    .quote.padded
      Numerous successful tutoring relationships.
    .quote.padded
      Prior to Dev Bootcamp, no programming background.
    .quote.padded
      Over last 12 months, worked with 5 startups and built numerous side projects.
    -# .quote.padded
    -#   Founder of 350 person Ruby White Belts Meetup Group.
    -# .quote.padded
      
    -# .quote.padded
    -#   The next cohort starts on Monday November 4.      
