#stripe.reveal-modal.large{data: {"reveal-id"  => "thankyou"}}
  .row
    .large-10.large-centered.columns
      .major#ResponseEmail
      .journey.padded
        Begin the Journey =>  #{link_to "Curriculum", root_path, class: "button tiny padded"}
      .journey.padded
        \-
        = link_to "@railstutor", "http://www.twitter.com/railstutor" 
  %a.close-reveal-modal
    &#215;
