#stripe.reveal-modal.large{data: {"reveal-id"  => "stripe"}}
  .row
    .large-10.large-centered.columns
      .major#ResponseEmail
      .stripe.padded
        Register for Sessions!
      .stripe
        .row
          .large-6.columns.large-centered
            %select
              %option{value: "1 sesssion - $60"}
                1 Session - $60
              %option{value: "3 sesssions - $170"}
                3 sesssions - $170
              %option{value: "5 sesssions - $250"}
                5 sesssions - $250
              %option{value: "10 sesssions - $480"}
                10 sesssions - $480
      .row
        .large-6.columns
          %input{type:"text", placeholder: "Full Name", id: "name", class: "validates_presence"}
        .large-6.columns
          %input{type:"text", placeholder: "Email", id: "email", class: "validates_presence"}
      .row
        .large-6.columns
          %input{type:"text", placeholder: "credit card #", data: { stripe: "number"}, size: "20", id: "validates_presence", id: "card-number"}
        .large-2.columns
          %input{type:"text", placeholder: "cvc code", data: { stripe: "cvc"},  size: "3", id: "validates_presence", id: "card-cvc"}
        .large-2.columns
          %input{type:"text", placeholder: "exp month", data: { stripe: "exp-year"}, size: "20", id: "validates_presence", id: "card-year"}
        .large-2.columns
          %input{type:"text", placeholder: "exp year", data: { stripe: "exp-month"}, size: "20", id: "validates_presence", id: "card-month"}
      .row
        .large-4.columns.large-centered
          .button.radius#checkout
            Checkout & Pay
  %a.close-reveal-modal
    &#215;
