<div class="row">
  <div class="large-1 columns padded large-offset-4 baby-top-margined">
    <div class="fb-like" data-href="https://www.facebook.com/rubyonrailstutor" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
  </div>
  <div class="large-1 columns padded baby-top-margined">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.rubyonrailstutor.com" data-text="Learn RubyonRails in a group from an awesome beginner focused tutor!" data-via="railstutor"  data-hashtags="rubyonrails">Tweet</a>
    </div>
    <div class="large-6 columns">
    </div>
</div>
