<div class="row">
  <div class="large-7 columns large-centered">
    <div class="fb-like" data-href="https://www.facebook.com/rubyonrailstutor" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
<div class="row">
  <div class="large-2 columns large-centered baby-top-margined">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.rubyonrailstutor.com" data-text="Learn RubyonRails in a group from an awesome beginner focused tutor!" data-via="railstutor"  data-hashtags="rubyonrails">Tweet</a>
  </div>
</div>
