<div class="row">
  <div class="large-12 columns outline">

    <div class="row">
      <div class="large-7 columns top-margined outline">
        <div class="laptop">
          <iframe src="//player.vimeo.com/video/76718824" width="438" height="293" frameborder="0" class="railstutorintro" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

      </div>
      <div class="large-5 columns top-margined outline">

        <div class="billboard">
          <h1>Want to Code?</h1>
          <ul class="fundamental vcard">
            <li>Master Ruby on Rails Fundamentals.</li>
            <li>Learn from an expert tutor.</li>
            <li>Learn in fun small groups.</li>
          </ul>
          <button class="large radius learnmore medfont" id="learnmore">
            Learn More
          </button>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="large-10 large-centered columns outline">
        <%= render 'layouts/social' %>
      </div>
    </div>

  </div>
</div>
