.row
  .small-10.large-12.columns.large-centered.small-centered.top-margined
    .major
      Testimonials
.row
  .small-10.large-10.columns.large-centered.small-centered.top-margined
    .row
      .large-2.columns
        = image_tag "pic/ramon.jpeg", class: "profile"
      .large-10.columns
        %blockquote
          "John’s ability to reach into his student’s level of understanding and bring them step-by-step towards proficiency is unparalleled. His emotional quotient sets a patient and positive tone for every session we’ve shared. He is a genuine person and I consider it a privilege to learn from him."
          %cite
            @sirramongabriel
.row
  .small-10.large-10.columns.large-centered.small-centered
    .row
      .large-2.columns
        = image_tag "pic/alyssa.jpeg", class: "profile"
      .large-10.columns
        %blockquote
          "John gave me hope that learning how to code was something I could do, and do quickly! Three months after being inspired by John and getting into Dev Bootcamp, I emerged as a web dev and founded hipcamp.com to help people discover awesome campsites and get outside. John helped steer me on this path and it has changed my life!"
          %cite
            @alyraz
.row
  .small-10.large-10.columns.large-centered.small-centered.top-margined
    .row
      .large-2.columns
        = image_tag "pic/taariq.png", class: "profile"
      .large-10.columns
        %blockquote
          "John Davison has the depth of knowledge that enabled me to learn Ruby on Rails within a month. John's patience and organization made learning Ruby and Rails a snap and I would absolutely encourage anyone seeking to understand software development to learn from him."
          %cite
            @taariqlewis
.row
  .small-10.large-10.columns.large-centered.small-centered
    .row
      .large-2.columns
        = image_tag "pic/stewart.jpeg", class: "profile"
      .large-10.columns
        %blockquote
          "Working with John quickly got me up to speed with the intricacies of Ruby on Rails.  He directly enabled me to build footysuby (footysubs.herokuapp.com).  John's teaching style really helped me grasp and retain the fundamental of Rails in a very short time.  I highly recommend him to anyone looking to learn how to build prototypes or learn how to learn about software engineering."
          %cite
            @stewartmccoy
