.reveal-modal.medium#thankYou
  .row
    .small-9.columns.small-centered
      .stripe.padded.major#welcome
      .row
        .large-10.columns.large-centered
          .quote
            Transaction in amount of $#{display_price(Rails.configuration.pricepoint)} complete!
          .quote
            Lookout for email from john@rubyonrailstutor.com with detailed instructions on next steps.
          .quote
            Contact me directly if you have any questions.
      .row
        .large-9.large-offset-3.padded
          .stripe
            \- John Davison
          .stripe
            = mail_to "john@rubyonrailstutor.com"
          .stripe
            = link_to "@railstutor", "http://www.twitter.com/railstutor", targer: "new"
  %a{class: "close-reveal-modal", id: "closeThankYou"}
    &#215;

