.row
  .small-10.large-10.columns.baby-top-margined
    .major.inline
      John Davison
    .minor.inline
      john@rubyonrailstutor.com
  .large-2.columns.baby-top-margined
    = link_to "Register!", "#register", class: "button radius medium", id: "registerbuttonprofile"
.row
  .large-5.columns.top-margined
    %iframe{ src:"https://player.vimeo.com/video/76718824", height: "200", width: "350", frameborder: "0", style: "margin-top:1.5em;", id: "vimeo"}
  .large-7.columns.baby-top-margined
    .quote.baby-top-margined.padded
      Expert at teaching Ruby on Rails to beginners. 
    .quote.padded
      Graduate of Dev Boocamp, 2nd Cohort Summer of 2012.
    .quote.padded
      Numerous successful tutoring relationships.
    .quote.padded
      Prior to Dev Bootcamp, no programming background.
    .quote.padded
      Over last 18 months, consulted to 5 startups and built numerous side projects.
    .quote.padded
      Prior U.S. Navy Supply Corps Officer, MBA, looking to help other Veterans make the transition to the tech economy.

